// Buttons
.btn {
  text-transform: uppercase;
  padding: 8px 22px;
  line-height: 1.428571429;
  font-size: 12px;
}

// From type
blockquote {
  background: url('/app/themes/airrater/dist/images/global/quote.png');
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  border-left: 0;
  padding-top: 65px;
  color: #01579b;
  font-style: italic;
}

p.lead {
  color: #01579b;
  font-size: ($font-size-base * 1.5);
  // @media (min-width: $screen-sm-min) {
  //   font-size: ($font-size-base * 1.5);
  // }
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

// Thumbnails
.thumbnail {
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  a {
    color: $headings-color;
  }
}
