body {
  position: relative;
  &:not(.home) {
    padding-top: $menu-height;
  }
}


.newsletter-form {

  &.subscribed {
    h3, .form-group, .btn {
      display: none !important;
    }
    &:after {
      @extend h3;
      content: "Thanks for subscribing!";
    }
  }

  &.failed {
    h3, .form-group, .btn {
      display: none !important;
    }
    &:after {
      @extend h3;
      content: "Oops! Something went wrong. Please try again later.";
    }
  }



  .help-block {
    text-align: left;
    color: #f4381d;
  }

  @media (min-width: $screen-sm-min) {
    &:not(.side-bar) {
      .form-group {
        position: relative;
      }
      .help-block {
        position: absolute; bottom: -34px;
      }
    }
  }
}
