
@mixin page {

  .hero {
    @include font-smoothing(on);
    position: relative;
    width: 100%;
    height: 237px;
    padding-top: 136px;
    margin-bottom: 27px;
    background-size: cover;
    background-position: center center;
    h1 {
      font-size: 8vw;
      text-align: center;
      color: #fff;
    }
  }

  .row.social {
    display: none;
  }

  ul.page-social {
    @include ul-reset;
    @include clearfix;
    li {
      display: inline-block;
      vertical-align: top;
    }
    li:not(:first-child) {
      margin-left: 5px;
      a {
        @include text-hide();
        display: block;
        height: 27px;
        width: 27px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    a.share {
      // background-image: url('/app/themes/airrater/dist/images/global/glyphicons-309-share-alt@2x.png');
      // background-position: left center;
      // background-repeat: no-repeat;
      // background-size: 20px;
      // padding-left: 20px;
      position: relative;
      padding-left: 28px;
      i {
        position: absolute;
        left: 0; top: 1px; font-size: 24px;
      }
      display: block;
      line-height: 27px;
      &:link, &:visited, &:active {
        color: #000;
      }
    }
    a.facebook {
      background-image: url('/app/themes/airrater/dist/images/global/icon-social-fb-small.png');
    }
    a.twitter {
      background-image: url('/app/themes/airrater/dist/images/global/icon-social-twitter-small.png');
    }
    a.pinterest {
      background-image: url('/app/themes/airrater/dist/images/global/icon-social-pinterest-small.png');
    }
    a.linkedin {
      background-image: url('/app/themes/airrater/dist/images/global/icon-social-linkedin-small.png');
    }
  }

  .meta {
    padding-top: 15px;
    // .page-social {
    //   margin-bottom: 20px;
    // }
    // .post-date {
    //   margin-bottom: 20px;
    // }
    h2, h3, h4, h5 {
      margin-top: 0;
    }
    .widget {
      margin-bottom: 20px;
    }
    form.newsletter-form {
      display: none;
      padding: 25px;
      background-color: #424242;
      h3 {
        color: #fff;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        font-size: 18px;
        white-space: nowrap;
        text-transform: none;
      }
    }
  }

  @media (min-width: 400px) {
    .hero h1 {
      font-size: 35px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .hero {
      height: 380px;
      padding-top: 250px;
      margin-bottom: 85px;
      h1 {
        font-size: 46px;
      }
    }

    .row.social {
      display: block;
    }
  }

  @media (min-width: $screen-md-min) {
    .meta {
      padding-top: 0;
      .form.newsletter-form {
        display: block;
      }
    }
  }

}

.page {
  @include page;
}
