// Fancybox.. provide correct paths to images
// -------------------------------------------------------
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(/app/themes/airrater/dist/images/fancybox_sprite.png) !important;
}

#fancybox-loading div {
	background-image: url(/app/themes/airrater/dist/images/fancybox_loading.gif) !important;
}

.fancybox-nav {
	background: transparent url(/app/themes/airrater/dist/images/blank.gif) !important;
}


.fancybox-overlay {
	background: url(/app/themes/airrater/dist/images/fancybox_overlay.png) !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(/app/themes/airrater/dist/images/fancybox_sprite@2x.png) !important;
	}

	#fancybox-loading div {
		background-image: url(/app/themes/airrater/dist/images/fancybox_loading@2x.gif) !important;
	}
}
// -------------------------------------------------------
