// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f4381d;


// Bootstrap

// Global
$text-color: #616161;

// Type
$font-family-sans-serif:  'Noto Sans', sans-serif !default;
$font-family-sans-serif-alt: 'Open Sans', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-base: 14px !default;

$font-size-h1:            floor(($font-size-base * 2.15)) !default;
$font-size-h2:            floor(($font-size-base * 1.7)) !default;
$font-size-h3:            ceil(($font-size-base * 1.25)) !default;
$font-size-h4:            ceil(($font-size-base * 0.85)) !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.70)) !default;


// Buttons
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-border-radius-base: 2px;

// Forms
$input-border-radius: 0;

// Header
$menu-height: 78px;
$sub-menu-height: 40px;

// Thumbnails
$thumbnail-border-radius: 0;
