.page-template-template-how-does-it-work {
  h1 {
    font-weight: $font-weight-normal;
    span {
      font-weight: $font-weight-bold;
    }
  }
  .row.quote {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row.vids {
    margin-bottom: 20px;
  }
  .row.features {
    margin-bottom: 60px;
    p, h5 {
      color: #334b5f;
    }
    h2 {
      margin-bottom: 20px;
    }
    ul {
      margin-top: 30px;
      @include ul-reset;
      li {
        margin-bottom: 17px;
        position: relative;
        padding-left: 36px;
        font-family: 'Open Sans';
        font-size: 17px;
        // font-weight: 300;
        &:before {
          content: "\f00c";
          font-family: FontAwesome;
          font-size: 19px;
          position: absolute;
          color: #01579b;
          top: 2px;
          left: 2px;
          // padding: 2px 2px 2px 5px;
        }
      }
    }
    // margin-top: 20px;
    // margin-bottom: 20px;
    // > div {
    //   text-align: left;
    // }
    // > div.mockup {
    //   margin-top: 40px;
    //   margin-bottom: 40px;
    // }

    // > div:not(.mockup) {
    //   .row > div:not(:last-child) {
    //     margin-bottom: 40px;
    //   }
    // }
  }

  @media (min-width: $screen-sm-min) {
    .page-social {
      // float: right;
      margin-top: 30px !important;
    }

    .row.vids {
      margin-bottom: 40px;
    }

    .row.features {
      // margin-top: 60px;

      > div:not(.mockup) {
        margin-top: 108px;
      }

      // > div:last-child {
      //   text-align: left;
      // }
      // > div:first-child {
      //   text-align: right;
      // }
      // > div:not(.mockup) {
      //   margin-top: 100px;
      // }
    }
  }

  @media (min-width: $screen-md-min) {
    // .row.features {
    //   > div:not(.mockup) {
    //     margin-top: 100px;
    //   }
    // }
  }
  //
  // @media (min-width: $screen-lg-min) {
  //   .row.features {
  //     > div:not(.mockup) {
  //       margin-top: 150px;
  //     }
  //   }
  // }

}
