.home {
  header.banner {
    &:not(.sticky) {
      background: transparent;
      a.btn-menu-toggle {
        color: #fff;
        border-color: #fff;
      }
      ul.download-actions {
        display: none;
      }
      .logo {
        display: none !important;
      }
      .nav-container {
        padding-right: 0 !important;
      }
      nav.nav-primary {
        a, a:link, a:visited {
          color: #fff;
        }
        a:hover {
          border-bottom-color: #fff;
        }
        li.active a, a:hover {
          text-decoration: none;
          border-bottom-color: #fff;
        }
      }
    }
  }

  .row.vids {
    margin-bottom: 20px;
  }

  .hero-container {
    height: 90vh;
    overflow: hidden;
  }

  .hero-content {
    position: relative;
    padding-top: 65px;
    h1.logo {
      @include text-hide();
      height: 90px;
      // width: 280px;
      background-image: url('/app/themes/airrater/dist/images/global/logo.png');
      background-repeat: no-repeat;
      background-size: 243px 78px;
      background-position: center;
      margin-top: 0;
    }
    p.leader {
      // font-size: 20px;
      @include font-smoothing(on);
      font-size: 5vw;
      padding-bottom: 3vw;
      color: #fff;
      text-align: center;
      line-height: 1.2em;
    }
    ul.actions {
      @include ul-reset;
      text-align: center;
      margin-top: 8vw;
      li {
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      a {
        display: inline-block;
        &:link, &:visited {
          color: #fff;
        }
        &.yt {
          background-color: #fff;
          width: 136px;
          padding: 4px 0;
          border-radius: 4px;
          img {
            width: 75px;
          }
        }
        &.share {
          width: 136px;
          line-height: 36px;
          i {
            position: relative;
            top: 2px;
            left: -3px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .btn-scroll {
    display: block;
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: #f4381d;
    background-image: url('/app/themes/airrater/dist/images/home/scroll-chev.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin: -37px auto 0 auto;
    box-shadow: 1px 2px 10px -2px #000;
  }

  section {
    h2 {
      font-size: 9vw;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .btn-more {
    line-height: 27px;
    font-size: 11px;
    text-align: center;
    width: 100px;
    display: block;
    color: #fff;
  }

  #whatCanItDo {
    padding-top: 25px;
    position: relative;
    h2 { margin-bottom: 35px; }
    @include font-smoothing(on);
    a {
      display: block;
      position: relative;
      background-position: 25px center;
      background-repeat: no-repeat;
      padding: 60px 15px 67px 125px;
      // padding-left: 100px;
      // padding-bottom: 45px;
      &:link, &:visited, &:hover {
        text-decoration: none;
        color: #fff;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    .btn-more {
      position: absolute;
      bottom: 12px; right: 12px;
    }
    h3 {
      font-weight: $font-weight-bold;
      margin: 0; padding: 0;
      font-size: 20px;
    }
    p {
      display: none;
    }
    a.one, a.two {
      &:after {
        z-index: 10;
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: -34px;
        font-family: $font-family-sans-serif-alt;
        font-size: 50px;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 30px;
        background-color: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        color: #9e9e9e;
      }
    }
    .one {
      background-color: #3684ce;
      background-image: url('/app/themes/airrater/dist/images/home/icon-what-can.png');
      &:after {
        background-image: url('/app/themes/airrater/dist/images/home/icon-plus.png');
      }
    }
    .two {
      background-color: #3684ce;
      background-image: url('/app/themes/airrater/dist/images/home/icon-environment.png');
      background-position: 14px center;
      &:after {
        background-image: url('/app/themes/airrater/dist/images/home/icon-equals.png');
      }
    }
    .three {
      background-color: #ec7d21;
      background-image: url('/app/themes/airrater/dist/images/home/icon-health.png');
      background-position: 16px center;
    }
  }

  #whatDoesItMonitor {
    position: relative;
    padding-top: 30px;
    h2 { margin-bottom: 35px; }
    @include font-smoothing(on);

    a.btn-more {
      display: inline-block;
    }

    p {
      color: #fff !important;
      font-size: 16px;
      margin-bottom: 16px !important;
    }

    > div {
      background-size: cover;
      background-repeat: no-repeat;
    }
    h3 {
      font-weight: $font-weight-bold;
      margin: 0; padding: 0;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left top;
      color: #fff;
      // font-size: 20px;
    }
    .row > div {
      text-align: center;
    }
    .smoke {
      background-image: url('/app/themes/airrater/dist/images/home/bg-smoke.jpg');
      background-position: bottom center;
      h3 {
        background-image: url('/app/themes/airrater/dist/images/home/icon-smoke.png');
        background-size: 75px;
        height: 76px;
        padding: 27px 0 0 92px;
        margin: 40px 0 35px 0;
      }
    }
    .temp {
      background-image: url('/app/themes/airrater/dist/images/home/bg-temp.jpg');
      background-position: bottom center;
      h3 {
        background-image: url('/app/themes/airrater/dist/images/home/icon-temp.png');
        background-size: 75px;
        height: 76px;
        padding: 27px 0 0 92px;
        margin: 40px 0 35px 0;
      }
    }
    .pollen {
      background-image: url('/app/themes/airrater/dist/images/home/bg-pollen.jpg');
      background-position: bottom center;
      h3 {
        background-image: url('/app/themes/airrater/dist/images/home/icon-flower.png');
        background-size: 75px;
        height: 76px;
        padding: 27px 0 0 92px;
        margin: 40px 0 35px 0;
      }
    }
    .mockup {
      margin: 20px 0 20px 0;
    }
  }

  #howDoesItWork {
    position: relative;
    padding-top: 30px;
    h2 { margin-bottom: 35px; }
    @include font-smoothing(on);
    text-align: center;
    a.btn-more {
      display: inline-block;
      color: #000;
      border-color: #000;
    }
    .row.actions {
      margin-top: 30px;
    }

    .actions a.map-btn {
      display: inline-block;
      background-repeat: no-repeat;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 20px;
      text-align: left;
      width: 50%;
      font-weight: $font-weight-bold;
      line-height: 1em;
      background-size: 45px;
      background-position: 12px center;
      padding-left: 70px;

      &:link, &:visited {
        color: #fff;
      }
      &:hover {
        text-decoration: none;
      }
      &.btn-pollen {
        background-image: url('/app/themes/airrater/dist/images/home/icon-flower.png');
        background-color: #f7b529;
      }
      &.btn-smoke {
        background-image: url('/app/themes/airrater/dist/images/home/icon-smoke.png');
        background-color: #6ca23e;
      }
    }
  }

  .map-container {
    height: 490px;
    position: relative;
  }

  #area-selector {
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 500;
  } 

  #area-selector span {
    background-color: #fff;
    display: inline-block;
    margin-left: 5px;
    padding: 4px 16px;
    cursor: pointer;
  }

  #map {
    background-color: #f2f2f2;
    position: absolute;
    left: 0; right: 0; top: 0px; bottom: 0;
    width: 100%;
    height: 100%;
  }


  @media (min-width: 390px) {
    #whatCanItDo {
      a {
        padding-left: 165px;
        background-position: 40px center;
      }
      .two {
        background-position: 30px center;
      }
      .three {
        background-position: 32px center;
      }
      h3 {
        font-size: 24px;
      }
    }
  }

  @media (min-width: 420px) {
    section {
      h2 {
        font-size: 42px;
      }
    }
    .hero-content {
      h1.logo {
        background-size: 280px 90px;
        height: 90px;
      }
      p.leader {
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }

  @media (min-width: 580px) {
    #whatCanItDo {
      p {
        display: block;
      }
      a {
        padding-top: 34px;
        padding-bottom: 36px;
      }
      h3 {
        margin-bottom: 12px;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .hero-content h1.logo {
      background-size: 400px 128px;
      margin-top: 65px;
      height: 128px;
    }
    .hero-content ul.actions {
      margin-top: 0;
    }
    .hero-content {
      padding-top: 90px;
    }
    ul.actions {
      display: flex;
      justify-content: center;
      li {
        &:not(:last-child) {
          margin-right: 5px;
        }
        // display: inline-block;
        margin-bottom: 0 !important;
      }

      a.share {
        width: 100px !important;
        display: table-cell;
        height: 43px;
        vertical-align: middle;
      }
      a.yt {
        // width: 130px !important;
        img {
          margin-left: 15px;
          margin-right: 15px;
        }
        display: table-cell;
        height: 43px;
        vertical-align: middle;
      }
    }
    #howDoesItWork {
      .actions a.map-btn {
        background-position: 50px center;
        padding-left: 110px;
        font-size: 16px;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    #whatCanItDo {
      padding-top: 50px;
      > div {
        display: flex;
      }
      a {
        flex: 1;
        padding: 145px 45px 60px 45px;
        background-position: center 27px !important;
        text-align: center;
        &:not(:last-child) {
          margin-right: 8px;
          margin-bottom: 0;
        }
      }
      a.one, a.two {
        &:after {
          top: 50%;
          margin-top: -30px;
          right: -34px;
          left: auto;
        }
      }
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      .btn-more {
        right: 50%;
        margin-right: -50px;
      }
    }

    #whatDoesItMonitor {
      padding-top: 80px;
      h3 {
        background: none !important;
        height: auto !important;
        padding: 0 !important;
        margin: 0 0 7px 0 !important;
      }
      .btn-more {
        margin-bottom: 40px;
      }
      .smoke, .temp, .pollen {
      }
      .mockup {
        position: absolute;
        top: 0;
        left: 0;
      }
      .row:not(.header) > div {
        background-repeat: no-repeat;
        text-align: left;
        position: relative;
        padding-top: 110px;
        min-height: 400px;
      }
      .smoke {
        .row > div {
          background-image: url('/app/themes/airrater/dist/images/home/icon-smoke.png');
          background-position: 256px 120px;
          padding-left: 450px;
        }
      }
      .temp {
        .row > div {
          background-image: url('/app/themes/airrater/dist/images/home/icon-temp.png');
          background-position: 23px 120px;
          padding-left: 215px;
          padding-right: 225px;
        }
        .mockup {
          right: 0;
          left: auto;
        }
      }
      .pollen {
        .row > div {
          background-image: url('/app/themes/airrater/dist/images/home/icon-flower.png');
          background-position: 256px 120px;
          padding-left: 450px;
        }
      }
    }

    #howDoesItWork {
      padding-top: 80px;
      .actions a.map-btn {
        background-position: 90px center;
        padding-left: 156px;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    #howDoesItWork {
      .actions a.map-btn {
        background-position: 129px center;
        padding-left: 192px;
      }
    }
  }
}
