@mixin blog-shared {

  article {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &:not(.archive) {
      time {
        display: block;
        position: absolute;
        width: 60px; height: 56px;
        top: 13px; right: 26px;
        background-color: #f4c33e;
        color: #fff;
        text-align: center;
        padding-top: 31px;
        font-size: 11px;
        span {
          display: block;
          position: absolute;
          top: 4px; left: 0; right: 0;
          font-size: 21px;
        }
      }
    }
    h3 {
      text-transform: none;
      font-size: 20px;
    }
    .btn-more {
      line-height: 27px;
      font-size: 11px;
      text-align: center;
      width: 100px;
      display: block;
      color: $text-color;
      border-color: $text-color;
    }
    .links {
      margin-top: 20px;
    }
    ul.page-social {
      margin-top: 22px;
    }
  }

  .nav-links {
    @include clearfix;
    a {
      @extend .btn;
      @extend .btn-primary;
    }
    .nav-previous {
      float: left;
      a:before {
        content:"\003c\00a0";
      }
    }
    .nav-next {
      float: right;
      a:after {
        content: "\00a0\003e";
      }
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #bdbdbd;
    font-size: 20px;
    &:before {
      border-top: 2px solid #bdbdbd;
      content:"";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 100%;
      z-index: -1;
    }
    span {
      background: #fff;
      padding: 0 15px;
    }
  }

  .archive {
    margin-bottom: 20px;
    .summary, .btn-more, .links {
      display: none;
    }
    time {
      color: #bdbdbd;
    }
  }

  @media (min-width: $screen-md-min) {
    article.archive {
      margin-bottom: 0;
      text-align: center;
      .summary, .links {
        margin-top: 10px;
        display: block;
      }
    }
    .nav-links {
      padding-top: 25px;
    }
  }
}

.blog {
  @include page;

  h1 {
    text-transform: uppercase;
  }

  @include blog-shared;

  .archives {
    &.loading {
      opacity: .5;
    }
    > div {
      // @include transition-property(opacity);
      // @include transition-duration(10s);
      // opacity: 0;
    }
    > div.post-template {
      // opacity: 0;
    }

    .master {
      display: none;
    }
  }

  @media (min-width: $screen-md-min) {
    article:not(.archive) {
      > div:first-child {
        padding-right: 100px;
      }
      time {
        right: 13px;
      }
    }
  }


}
