.single-post {
  @include page;
  @include blog-shared;
  .hero {
    padding-top: 20px;
    h1 {
      padding-top: 9vw;
      text-align: left;
      text-transform: uppercase;
    }
  }
  header {
    .back {
      &:before {
        content:"\003c\00a0";
      }
    }
  }

  article {
    .entry-content {
      p:first-child {
        @extend .lead;
      }
    }
  }

  .related-articles {
    padding-top: 60px;
  }

  @media (min-width: $screen-sm-min) {
    .hero {
      margin-bottom: 45px;
    }
  }

}
