footer {
  margin-top: 50px;

  #subscribe {
    padding: 30px 0;
    background-color: #424242;
    h3 {
      color: #fff;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      font-size: 18px;
      white-space: nowrap;
      text-transform: none;
    }
  }

  #sharing {
    padding: 40px 0;
    background-color: #616161;

    a {
      &:link, &:visited {
        color: #fff;
      }
      &:hover {
        text-decoration: none;
      }
    }

    ul.download-actions {
      @include ul-reset;
      text-align: center;
      li {
        display: inline-block;
        &:first-child {
          margin-right: 8px;
        }
      }
    }
    ul.social {
      @include ul-reset;
      margin-top: 35px;
      text-align: center;
      @include clearfix;
      li.universal-share {
        position: relative;
        top: -3px;
      }
      li {
        display: inline-block;
        vertical-align: top;
      }
      li:first-child {
        margin-right: 10px;
      }
      li:not(:first-child) {
        margin-left: 5px;
        a {
          @include text-hide();
          display: block;
          height: 38px;
          width: 38px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      a.facebook {
        background-image: url('/app/themes/airrater/dist/images/global/icon-social-fb.png');
      }
      a.twitter {
        background-image: url('/app/themes/airrater/dist/images/global/icon-social-twitter.png');
      }
      a.share {
        position: relative;
        padding-left: 40px;
        i {
          position: absolute;
          left: 12px; top: 5px;
          font-size: 25px;
        }
      }
      // a.share {
      //   width: 100px !important;
      //   display: table-cell;
      //   height: 36px;
      //   vertical-align: middle;
      // }

    }
  }

  #partners {
    background-color: #f5f5f5;
    padding: 30px 0;
    ul {
      @include ul-reset;
      text-align: center;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 15px 0;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
    a {
      @include text-hide();
      display: block;
      background-repeat: no-repeat;
      background-position: center;
    }
    li.gov a {
      background-image: url('/app/themes/airrater/dist/images/global/logo-gov.png');
      width: 122px; height: 98px;
    }
    li.sense-t a {
      background-image: url('/app/themes/airrater/dist/images/global/logo-sense-t.png');
      width: 112px; height: 86px;
    }
    li.utas-menzies a {
      background-image: url('/app/themes/airrater/dist/images/global/logo-menzies.png');
      width: 290px; height: 33px;
    }
    li.anu a {
      background-image: url('/app/themes/airrater/dist/images/global/logo-anu.png');
      width: 164px; height: 56px;
    }
    li.csiro a {
      background-image: url('/app/themes/airrater/dist/images/global/logo-csiro.png');
      width: 77px; height: 77px;
    }
    li.epa a {
      background-image: url('/app/themes/airrater/dist/images/global/logo-epa.png');
      width: 156px; height: 61px;
    }
  }

  #terms {
    padding: 30px 0;
    text-align: center;
    a.logo {
      @include text-hide();
      display: inline-block;
      height: 58px;
      width: 180px;
      background-image: url('/app/themes/airrater/dist/images/global/logo-medium.png');
      background-repeat: no-repeat;
      background-size: 180px;
      background-position: center;
    }
    p {
      margin: 20px 0 0 0;
      font-size: 10px;
      color: #757575;
      a:link, a:visited {
        text-decoration: underline;
        color: #757575;
      }
    }

  }

  @media (min-width: $screen-sm-min) {
    #subscribe {
      text-align: center;
      h3 {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
      .form-group, .btn-primary {
        margin-left: 10px;
      }
      .form-control {
        width: 150px;
      }
    }
    #sharing {
      text-align: center;
      ul {
        display: inline-block;
        vertical-align: top;
        li {
          text-align: left !important;
        }
      }
      ul.download-actions {
        li:first-child {
          margin-right: 15px;
        }
      }
      ul.social {
        margin-top: 3px;
        margin-left: 21px;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    #subscribe {
      .form-control {
        width: 200px;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    #subscribe {
      .form-control {
        width: 270px;
      }
    }
  }

}
