header.banner {
  position: absolute;
  top: 0; right: 0; left: 0;
  z-index: 99;
  // background: linear-gradient(180deg, #fff, #fff $menu-height, #424242, #424242 20px);
  background-image: url('/app/themes/airrater/dist/images/global/bg-white.png');
  background-repeat: repeat-x;
  background-color: #424242;
  height: $menu-height;
  .nav-primary {
    display: none;
  }
  ul.download-actions {
    display: none;
    @include ul-reset;
    li {
      display: inline-block;
      a {
        @include text-hide();
        display: block;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  a.btn-menu-toggle {
    position: absolute; top: 20px; right: 30px;
    display: block;
    padding: 0px 10px;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    &:link, &:visited {
      color: #000;
    }
    i {
      &.ion-android-close {
        display: none;
      }
      font-size: 26px;
    }
  }

  .nav-container {
    position: relative;
  }

  ul.sub-menu {
    display: none;
  }

  .logo {
    display: block;
    position: absolute; left: 0; top: 14px;
    @include text-hide();
    height: 49px;
    width: 152px;
    background-image: url('/app/themes/airrater/dist/images/global/logo-small.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.sticky {
    position: fixed;
    z-index: 999;
    box-shadow: 0 0 5px rgba(57,70,78,.2);
    top: 0; left: 0; right: 0;
    animation:slideDown 0.5s both ease;
  }

  &.mobile-menu-active {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    height: auto;
    z-index: 99;
    .container {
      z-index: 100;
    }
    .nav-container {
      display: block;
      @include transition-property(opacity);
      @include transition-duration(.5s);
      opacity: 1;
      padding-top: 80px;
    }
    .logo {
      background-image: url('/app/themes/airrater/dist/images/global/logo-small-dark.png');
    }
    a.btn-menu-toggle {
      color: #fff;
      border-color: #fff;
      &:link, &:visited {
        color: #fff;
      }
      i {
        &.ion-android-close {
          display: block;
        }
        &.ion-navicon {
          display: none;
        }
      }
    }
    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      background-color: #000;
      opacity: 0.9;
      z-index: -1;
    }
    ul.download-actions {
      display: block;
      margin-top: 20px;
      li {
        display: inline-block;
        margin: 0 5px 5px 0;
        &.app-store a {
          background-image: url('/app/themes/airrater/dist/images/global/btn-app-store-download.png');
          background-size: 135px;
          height: 41px; width: 135px;
        }
        &.play-store a {
          background-image: url('/app/themes/airrater/dist/images/global/btn-play-store-download.png');
          background-size: 136px;
          height: 43px; width: 136px;
        }
      }
    }
    .nav-primary {
      display: block;
      ul {
        @include ul-reset;
        margin-top: 10px;
      }
      a, a:link, a:visited {
        @include font-smoothing(on);
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 7vw;
        font-weight: $font-weight-light;
        font-family: $font-family-sans-serif-alt;
      }
      a:hover {
        text-decoration: none;
      }
      > ul li {
        padding: 10px 0px;
        &:not(:last-child) {
          border-bottom: 2px solid #fff
        }
      }
    }
  }
}


@media (min-width: $screen-sm-min) {
  header.banner.mobile-menu-active {
    .nav-primary {
      a, a:link, a:visited {
        font-size: 28px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {

  header.banner {

    .nav-container {
      padding-right: 111px;
    }

    a.btn-menu-toggle {
      display: none;
    }

    ul.download-actions {
      display: block;
      position: absolute; right: 0; top: 0px;
      .app-store a {
        background-image: url('/app/themes/airrater/dist/images/global/btn-app-store-download-square.png');
        background-size: 45px;
        height: 45px; width: 45px;
      }
      .play-store a {
        background-image: url('/app/themes/airrater/dist/images/global/btn-play-store-download-square.png');
        background-size: 45px;
        height: 45px; width: 45px;
      }
    }

    nav {
      .nav {
        @include clearfix;
      }
      &.nav-primary {
        display: block;
        padding-top: 30px;
        @include clearfix;
        a, a:link, a:visited {
          display: block;
          color: #000;
          text-transform: uppercase;
          font-family: $font-family-sans-serif-alt;
          border-bottom: 2px solid transparent;
        }
        li.active a, a:hover {
          text-decoration: none;
          border-bottom-color: #000;
        }
        ul {
          @include ul-reset;
        }
        > ul {
          float: right;
          > li {
            float: left;
            margin-left: 20px;
          }
        }
      }
    }
    &.sticky.with-sub-menu {
      height: $menu-height + $sub-menu-height;
      li.active ul.sub-menu {
        display: block;
        position: absolute;
        left: 0; right: 0; top: $menu-height;
        height: $sub-menu-height;
        text-align: center;
        li {
          display: inline-block;
          position: relative;
          height: $sub-menu-height;
        }
        a {
          display: block;
          text-transform: none !important;
          line-height: $sub-menu-height;
          height: $sub-menu-height;
          padding: 0 15px;
          text-align: center;
          color: #fff;
          border-bottom: 0 !important;
          &:link, &:visited {
            color: #fff;
            text-decoration: none;
          }
        }
        li.active a, a:hover {
          text-decoration: none;
          background-color: #505050 !important;
        }
      }
    }
  }

}

@keyframes slideDown {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}
